body{
    margin:0;
    padding:0;
}

.header{
    display:flex;
    align-items:center;
    justify-content:start;
    background-color: #566573;
    color:white;
}

.header > img{
    margin-left:10px;
}

.header > h1 {
    color:grey;
}